@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200&family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

.Homepage {
  margin: 0;
  padding: 0;
  background-color: #2e2c2c;
  height: 200vh;
  overflow: hidden;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 90%;
    padding:0 10%
  }
  &__header {
    display: flex;
    flex-direction: column;
    font-family: "Libre Franklin", sans-serif;
    color: white;
    font-size: 5vw;
    width: 50vw;
  }
  &__transition {
    font-family: "Libre Franklin", cursive;
    color: white;
    font-size: 4vw;
  }
  &__picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
  }
  &__picText{
    font-family: "Indie Flower", cursive;
    color: white;
  }
  &__image {
    width: 50%;
    height: 100%;
    border-radius: 50px;
  }
  &__bottomWrap {
    height: 100vh;
    background-color: white;
  }
}
